<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>NoteMaker</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
    <nav><a href="/login" class = "navlink" id="logo">N</a>
    <div class="navlink"><a id="noteButton" href="/maker">Write Notes!</a></div>
    </nav>
    <div id= "welcome">
  <h1>Project 2</h1>
    <p id= #welcome>On this website you can make notes to yourself using an account system. The notes are stored on MongoDB, and the account information on Redis. This site uses mongoose, handlebars, and react extensively. It was originally based on an assignment called DomoMaker.</p>
        </div>
</body>
</html>