body {
    background-color: #8F8B64;
    font-family: 'Karla', sans-serif;
    color: #4F4424;
    
}
nav {
    width: 100%;
    height: 50px;
    background-color: #58553B;
    border-radius: 5px;
    margin-bottom: 10px;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 14pt;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #58553B;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #8F8B64;
}

#errorMessage {
    margin-left: 20px;
    font-size: 14pt;
    font-weight: bold;
    color: red;
    font-style: italic;
}
#makeNote {
    margin-bottom: 20px;
}
section {
    border-radius: 5px;
    padding: 5px;
    margin-left: 20px;
    background-color: #BAB68D;
}
Label {
    font-size: 14pt;
    
}
input, textarea{
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    background-color: #E2DEBA;
    border-style: none;
    font-weight: 500;
    color: #4F4424;
}
input[type=submit]{
    
    border-radius: 5px;
    background-color: #BAB68D;
    border-style: none;
    color: #4F4424;
    font-size: 12pt;
}
input[type=submit]:hover {
    transition: background-color 0.8s ease;
    background-color: #8F8B64;
}
#note {
    font-size: 14pt;
    font-weight: 100;
}